body {
  text-rendering: optimizelegibility;
  font-family: "Lucida Grande";
  font-size: 12px;
}

#pullToRefresh {
  position: absolute;
  background: gray;
  height: 34px;
  top: -34px;
}

.commentContainer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 7px 19px;
  border-bottom: 1px solid #d8d8d8;
  line-height: 1.5em;
  cursor: default;
}

.meta {
  margin-bottom: 7px;
}

.username {
  display: inline-block;
  width: 60%;
  overflow: hidden;
  font-weight: bold;
}

.createdAt {
  display: inline-block;
  width: 40%;
  text-align: right;
  color: #a9a9a9;
}

a, a:active, a:visited {
  color: #00a2ff;
}

/* 10px steps */

.margin-0 {
  padding-left: 10px;
}

.margin-40 {
  padding-left: 20px;
}

.margin-80 {
  padding-left: 30px;
}

.margin-120 {
  padding-left: 40px;
}

.margin-160 {
  padding-left: 50px;
}

.margin-200 {
  padding-left: 60px;
}

.margin-240 {
  padding-left: 70px;
}

.margin-280 {
  padding-left: 103px;
}

.margin-320 {
  padding-left: 80px;
}

.margin-360 {
  padding-left: 90px;
}

.margin-400 {
  padding-left: 100px;
}